version: '3.8'

services:

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    env_file:
      - .env
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      # 1. Данные БД в твоей папке
      - ./pg_data/postgres:/var/lib/postgresql/data
      
      # 2. Init скрипты
      - ./pg_data/init:/docker-entrypoint-initdb.d

      # 3 Бэкапы
      - ./pg_data/backups:/backups
    

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    networks:
      - app-network


  back:
    build: ./back
    container_name: back
    env_file:
      - .env
    ports:
      - "${BACKEND_PORT:-8000}:8000"
    volumes:
      - ./back:/app
      - ./pg_data/backups:/backups
    environment:
      DATABASE_URL: ${DATABASE_URL}

    depends_on:
      postgres:
        condition: service_healthy
    

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    networks:
      - app-network

  # Фронтенд (ТРЕТИЙ, ждет бэкенд)
  front:
    build: ./front
    container_name: front
    env_file:
      - .env
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    volumes:
      - ./front:/app
      - /app/node_modules
    

    depends_on:
      back:
        condition: service_healthy
    
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    
    networks:
      - app-network


networks:
  app-network:
    driver: bridge